<div class="header">
	<div class="header__logo">
		<a href="#" class="logo">aliro</a>
	</div>
	<div class="header__nav">
		<ul class="nav">
			<li class="nav__item">
				<a href="" class="nav__link"><p>My listings</p></a>
			</li>
			<li class="nav__item">
				<a href="" class="nav__link js-btn-menu">
					<span>Messages</span>
					<span class="indicator"><span class="indicator__in">3</span></span>
				</a>

			</li>
			<li class="nav__item">
				<a href="" class="nav__link"><p>Contracts</p></a>
			</li>
			<li class="nav__item">
				<a href="" class="nav__link"><p>Profile</p></a>
			</li>
		</ul>
		
	</div>
	<div class="header__right">
		<div class="sign-in">
			<div class="sign-in__ava ava">
				<img src="./img/ava.jpg" class="ava__pic" width="40" height="40" alt="">
			</div>
			<a href="#" class="sign-in__text">
				<p class="medium">Ivan Dunskiy</p>
				<p>aliro</p>
			</a>
		</div>
		<a href="#" class="out icon icon-out"></a>
	</div>
	<div class="hidden-block js-menu">
		<div class="hidden-block__header">
			<div class="hidden-block__header-left">
				<a href="#" class="client">
					<div class="client__ava ava">
						<img src="./img/ava2.jpg" class="ava__pic" width="40" height="40" alt="">
					</div>
					<div class="client__about">
						<div class="client__header">
							<div class="client__header-left">
								<p class="medium">Michael Davis</p>
								<p>Contract #1244, Buying 10 tons Olives from Panama</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="hidden-block__header-right">
				<a href="#" class="btn">view files</a>
				<a href="#" class="btn">Contract details</a>
			</div>
		</div>
		<div class="hidden-block__content">
			<div class="hidden-block__link">
				<a href="#" class="link">28 January 2017</a>
			</div>	
			<ul class="timeline">
				<li class="timeline__item is-active">
					1. New
				</li>
				<li class="timeline__item is-active">
					2. In Progress
				</li>
				<li class="timeline__item">
					3. Signed
				</li>
				<li class="timeline__item">
					3. Signed
				</li>
			</ul>
		</div>
	</div>
</div>
